<!DOCTYPE html>
<html lang="en">

<head>
    <title>Metana-website</title>
    <link href="{{ url_for ('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/style.css')}}">
</head>

<body class="bod">
    <div id="main">
        <nav class="navbar navbar-expand-lg navbar-light mt-4 ">
            <div class="container-fluid" style="margin-left: 30px;margin-right: 30px;">
                <a class="navbar-brand" id="sma10" href="#"><img id="sma10" src="{{url_for('static', filename='foto/smaten.png')}}" width="40px" height="40px"> </a>
                <label for="sma10" id="sma10"> SMA NEGERI 10 KOTA TERNATE</label>
                
                <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item fs-5" style="padding-right: 120px;">

                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item fs-5">
                            <a class="nav-link actives" aria-current="page"href="{{url_for('rpetugas.akunpetugas')}}"><b>Home</b></a>
                        </li>
                        <li class="nav-item fs-5">
                            <a class="nav-link" href="{{url_for('rpetugas.about')}}">About</a>
                        </li>
                        {%else%}
                        <li class="nav-item fs-5">
                            <a class="nav-link actives" aria-current="page"href="{{url_for('rpetugas.home')}}"><b>Home</b></a>
                        </li>
                        <li class="nav-item fs-5">
                            <a class="nav-link" href="{{url_for('rpetugas.about')}}">About</a>
                        </li>
                        <li class="nav-item fs-5">
                            <a class="nav-link" href="{{url_for('rpetugas.login_petugas')}}">Login</a>
                        </li>
                        {%endif%}
                        
                        <li class="nav-item" style="margin-right: 200px;">
                        </li>
                        {% if current_user.is_authenticated %}
                        <div class="iconemail d-flex md-4">
                            <a class="nav-link d-flex" id="akun" href="{{url_for('rpetugas.about')}}">
                            <li class="nav-item fs-5 d-flex" style="margin-right: 5px;">
                            Akun
                            </li>
                            <div class="shadow bg-white rounded" style="border: 2px solid black;
                            border-radius: 40px;">
                                <div class="card" style="width: 2rem;">
                                    <li class="nav-item">
                                    <img src="{{url_for('static', filename='foto/' + current_user.foto)}}" class="card-img-top"
                                    alt="..." width="20px" height="20px">
                                    </li>
                                </div>
                            </div>
                            </a>
                        </div>

                        <li class="nav-item fs-5">
                            <a class="nav-link" href="{{url_for('rpetugas.logout_petugas')}}">Logout</a>
                        </li>

                        {%else%}
                        {%endif%}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container yy" style="margin-top: 40px;position:static; align-items: center; justify-content: center; width: 100%;">
        <div class="row">
            <div class="col-md-6">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <!--flash-->
                    {% with messages= get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}

                    <div class="alert alert-{{category}}">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <h1>LOGIN</h1>
                    <form method="POST">
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            {{form.email.label(class="form-control-label")}}
                            {% if form.email.errors %}
                            {{form.email(class="form-control is-invalid")}}

                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {%else%}

                            {{form.email(class="form-control")}}

                            {%endif%}

                        </div>
                        <br>

                        <div class="form-group">
                            {{form.password.label(class="form-control-label")}}
                            {% if form.password.errors %}
                            {{form.password(class="form-control is-invalid")}}

                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {%else%}

                            {{form.password(class="form-control")}}

                            {%endif%}

                        </div>

                        <br>
                        <div class="form-group">
                            {{form.submit(class="btn btn-primary")}}
                        </div>
                        <br>
                        <span> <a href="{{url_for('rpetugas.data_petugas')}}">Daftar Akun</a></span>
                    </form>
                </div>
            </div>
            <div class="col-1">

            </div>
            <div class="bacabuku col-5 p-3 mb-5">
                <h1 align="center">Ayo Baca Buku!!!</h1>
                <p align="center">Buku adalah kumpulan/himpunan kertas atau lembaran yang tertulis
                    atau mengandung tulisan. Bahan-bahan tersebut bisa berbentuk potongan
                    yang terbuat dari kayu, kertas bahkan gading gajah. Kumpulan ini dihimpun
                    atau dijilid menjadi satu pada salah satu ujungnya dan berisi tulisan, gambar atau tempelan. </p>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <p class="copy" style="background-color: rgb(23, 17, 17); color: white; padding-top: 0;" align="center">Copyright_by_ummu</p>
    </div>
    </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="{{ url_for ('static', filename='css/bootstrap.min.js')}}"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

</html>